//
//  Secrets.xcconfig
//  PC
//
//  Created by somil jain on 01/05/26.
//

SUPABASE_URL = https:/$()/qmrfvxwsxselvqeiuird.supabase.co
SUPABASE_ANON_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFtcmZ2eHdzeHNlbHZxZWl1aXJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczODUxMTcsImV4cCI6MjA5Mjk2MTExN30.OalFH-XBQFr2Y8zpWkBDqfdey5s9ygbqn-Hau_wUZoo
